[Unit]
Description=Bitcoind Server
After=syslog.target
After=network.target

[Service]
Type=forking
User=coin
Group=coin
PIDFile=/var/coin/db/bitcoind/bitcoind.pid
ExecStartPre=/bin/rm -f /var/coin/db/bitcoind/bitcoind.pid
ExecStart=/usr/local/bin/bitcoind -daemon -conf=/usr/local/etc/bitcoin.conf
ExecReload=/usr/local/bin/bitcoind stop; sleep 30s; /usr/local/bin/bitcoind start
ExecStop=/usr/local/bin/bitcoind stop
Restart=on-abort

[Install]
WantedBy=multi-user.target
