[Unit]
Description=Namecoind Server
After=syslog.target
After=network.target

[Service]
Type=forking
User=coin
Group=coin
PIDFile=/var/coin/db/namecoind/namecoind.pid
ExecStartPre=/bin/rm -f /var/coin/db/namecoind/namecoind.pid
ExecStart=/usr/local/bin/bin/namecoind -daemon -conf=/usr/local/etc/namecoin.conf
ExecReload=/usr/local/bin/bin/namecoind stop; sleep 30s; /usr/local/bin/bin/namecoind start
ExecStop=/usr/local/bin/bin/namecoind stop
Restart=on-abort

[Install]
WantedBy=multi-user.target