[Unit]
Description=Bitcoind Server
After=syslog.target
After=network.target

[Service]
Type=forking
User=coin
Group=coin
ExecStart=/usr/local/bin/bitcoind -daemon -conf=/usr/local/etc/bitcoin.conf
ExecReload=/usr/local/bin/bitcoind -conf=/usr/local/etc/bitcoin.conf stop; sleep 30s; /usr/local/bin/bitcoind -daemon -conf=/usr/local/etc/bitcoin.conf -reindex
ExecStop=/usr/local/bin/bitcoind -conf=/usr/local/etc/bitcoin.conf stop
Restart=on-abort

[Install]
WantedBy=multi-user.target
