[Unit]
Description=Litecoind Server
After=syslog.target
After=network.target

[Service]
Type=forking
User=coin
Group=coin
ExecStart=/usr/local/bin/litecoind -daemon -conf=/usr/local/etc/litecoin.conf
ExecReload=/usr/local/bin/litecoind -conf=/usr/local/etc/litecoin.conf stop; sleep 30s; /usr/local/bin/litecoind -conf=/usr/local/etc/litecoin.conf -daemon start
ExecStop=/usr/local/bin/litecoind stop
Restart=on-abort

[Install]
WantedBy=multi-user.target
