[Unit]
Description=Namecoind Server
After=syslog.target
After=network.target

[Service]
Type=forking
User=coin
Group=coin
ExecStart=/usr/local/bin/namecoind -daemon -conf=/usr/local/etc/namecoin.conf
ExecReload=/usr/local/bin/namecoind -conf=/usr/local/etc/namecoin.conf stop; sleep 30s; /usr/local/bin/namecoind -daemon -conf=/usr/local/etc/namecoin.conf start
ExecStop=/usr/local/bin/namecoind stop
Restart=on-abort

[Install]
WantedBy=multi-user.target
